.location__info-container {
  text-align: center;
  max-width: 800px;
  margin: auto;
  margin-top: 3rem;
  padding: .5rem 1rem;
  background: var(--bg-color-2);

  transition: background .5s;
}

.location__info-container li {
  display: flex;
  flex-direction: column;
}

.location__tittle {
  margin-top: 20px;
  font-size: 2rem;
}

.location__ul {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 15px;
  gap: 1.2rem;
}

.location__list {
  font-weight: bold;
}