.resident__container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;

}

.resident {
    background-color: var(--bg-color-2);

    transition: background-color .5s;
}

.resident__header {
    position: relative;
}

.residen__container-status {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--bg-color-2);
    width: 100px;
    border-radius: 0 10px 10px 0;

    position: absolute;
    top: 20px;

    transition: background-color .5s;
}

.resident__circle {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
    background-color: aqua;
}

.resident__info {
    display: grid;
    padding: 1rem;
    gap: 1rem;
}

.resident__info li {
    line-height: 1.5rem;
}

.Dead {
    background-color: red;
}

.Alive {
    background-color: green;
}

.unknown {
    background-color: grey;
}