.app {
    padding: 2em 1.5em;
}

.app__tittle {
    text-align: center;
    margin-bottom: 0.6em;
}

.form {
    display: flex;
    justify-content: center;
    height: 1.8em;
}

.form__input {
    width: 100%;
    max-width: 200px;
    padding-left: 1em;
    border-radius: 5px 0 0 5px;
}

.form__btn {
    width: 80px;
    border-radius: 0 5px 5px 0;
}

.app__error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app__error {
    text-align: center;
    line-height: 2em;
}

.error__404{
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: -1;
}

.error__btn{
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: green;
    color: papayawhip;
    cursor: pointer;
}
