.app {
    padding: 2em 1.5em;
}

.banner {
    height: 35vh;
    width: 100%;
    background-image: url(./assets/banner1.jpg);
    background-size: cover;
    background-position-y: -100px;
    background-repeat: no-repeat;
}

.app__tittle {
    text-align: center;
    margin-bottom: 0.6em;
}

.form {
    display: flex;
    justify-content: center;
    height: 1.8em;
}

.form__input {
    height: 40px;
    width: 100%;
    max-width: 200px;
    padding-left: 1em;
    border-radius: 5px 0 0 5px;
}

.form__btn {
    height: 40px;
    width: 80px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background: #ffe400;
}

.form__btn:active {
    transform: scaleY(.95);
    background: green;
}

.app__error {
    text-align: center;
    line-height: 2em;
}

@media (max-width:1000px) {
    .banner {
        background-position-y: -30px;
    }
}

@media (max-width:660px) {
    .banner {
        background-position-y: top;
    }
}